<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/style.css">
    <title>home page</title>
</head>

<body>
    <div class="container">
        <div class="display">
            <div class="header">
                <div class="logo">
                    <h2><span class="bold">Un</span>bounded</h2>
                </div>
                <div class="login_btn">
                    <button class="btn"><a href="/accounts/login/">login</a></button>
                </div>
            </div>
            <div class="devide">
                <div class="content">
                    <div class="pera">
                        <p>hey there we've Handcrafted something for you.we hope you will love it. you can learn anything</p>
                    </div>
                    <button class="btn"><a href="buy.html">Buy Now</a></button>
                </div>
                <div class="image">
                    <img src="../../../static//images/undraw_File_bundle_re_6q1e.svg" alt="">
                </div>
            </div>
        </div>
        <div class="display2">
            <div class="heading">
                <span>Why we are different ?</span>
                <div class="un_line"></div>
            </div>
            <div class="flex">
                <div class="column">
                    <div class="card">
                        <div class="partition">
                            <div class="headline">
                                <span>AI powered</span>
                                <div class="un_line"></div>
                            </div>
                            <div class="AI_content">
                                <p>Scanning your feel to tell you the areas to improve to make you pro :)</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="../../../static/images/ai powered.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="partition">
                            <div class="headline">
                                <span>Photonic aid</span>
                                <div class="un_line"></div>
                            </div>
                            <div class="AI_content">
                                <p>Image that help you to visualize the correct answer to burst up your learning</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="../../../static/images/SVG for Photonic Aid.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="partition">
                            <div class="headline">
                                <span>Largest pool</span>
                                <div class="un_line"></div>
                            </div>
                            <div class="AI_content">
                                <p>Damn! mcqs,A/Rs case base you can name it you go it</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="../../../static/images/largest pool.svg" alt="" width="383px" height="288px">
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="column">
                    <div class="card">
                        <div class="partition">
                            <div class="headline">
                                <span>Dsoubt Burst</span>
                                <div class="un_line"></div>
                            </div>
                            <div class="AI_content">
                                <p>Get all your queires answered by our fraternity</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="../../../static/images/SVG for Doubt Burst.svg" alt="" width="383px" height="288px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="display3">
            <div class="success">
                <h3>We plan your every minute to ensure success</h3>
                <p>highly productive and tested prepration strategy designed by top<br> feculties and various board toppers</p>
                <button><a href="join.html">join now</a></button>
            </div>
            <div class="cards">
                <div class="one">
                    <div class="card1">
                        <div class="left">daily & weekly goals</div>
                        <div class="image">
                            <img src="../../../static//images/undraw_date_picker_gorr.svg" alt="">
                        </div>
                    </div>
                    <div class="card2">
                        <div class="image">
                            <img src="../../../static/images/undraw_date_picker_gorr.svg" alt="">
                        </div>
                        <div class="left">exam orianted approach with chaptervise updated strategy</div>
                    </div>
                </div>
                <div class="two">
                    <div class="card3">
                        <div class="left">Proper theory and question practice balance</div>
                        <div class="image">
                            <img src="../../../static//images/Theory and Question Balance.svg" alt="">
                        </div>
                    </div>
                    <div class="card4">
                        <div class="image">
                            <img src="../../../static/images/SVG for 1-on-1.svg" alt="">
                        </div>
                        <div class="left">ONE-on-ONE intractions</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>